aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.6.0
ansicon==1.89.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.10.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
console==0.9907
Cython==3.0.3
DateTime==5.2
distlib==0.3.7
easygui==0.98.3
exceptiongroup==1.1.3
ezenv==0.92
fake-useragent==1.2.1
fastapi==0.103.2
filelock==3.12.4
frozenlist==1.4.0
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
inquirerpy==0.3.4
jinxed==1.2.0
keyboard==0.13.5
multidict==6.0.4
Naked==0.1.32
numpy==1.25.2
ordered-set==4.1.0
outcome==1.2.0
packaging==23.1
pandas==2.1.0
pefile==2023.2.7
pfzy==0.3.4
Pillow==10.0.0
platformdirs==3.11.0
prompt-toolkit==3.0.39
psutil==5.9.6
py2exe==0.13.0.1
pyarmor==8.4.4
pyarmor.cli.core==5.4.2
pyarmor.cli.core.themida==5.4.2
pybase64==1.3.1
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.4.2
pydantic_core==2.10.1
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.10
pyparsing==3.1.1
PySocks==1.7.1
pystyle==2.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywin32-ctypes==0.2.2
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
requests-toolbelt==1.0.0
selenium==4.12.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
starlette==0.27.0
stem==1.8.2
tls-client==0.2.1
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.8.0
tzdata==2023.3
undetected-chromedriver==3.5.3
urllib3==1.26.17
uuid==1.30
virtualenv==20.24.5
wcwidth==0.2.6
webdriver-manager==4.0.0
websocket-client==1.6.4
websockets==11.0.3
wsproto==1.2.0
yarl==1.9.2
zipp==3.16.2
zope.interface==6.0
zstandard==0.22.0
